
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "closeDialog();updateSection();", OnFailure = "onAjaxFailure" }))
{
    <a>esto es una prueba</a>
        <p>
            <input type="submit" value="@(Model != null ? "Update" : "Crear")" />
        </p>
    
    <script>
        $(function () {
            $("img").button();
        });
    </script>
}
